@media ( min-width: 1px ) and (max-width: 767px) {	
	/*//about//*/
	.container-about{
		width:100vw;
		height:100vh;
	}
	.div-about{
		min-width: 90vw;
		min-height:70vh;
	}
	.h3-about{
		font-size: 2.5em;
		padding: 1em;
		margin: 1em;
	}
	.p-about-p-small{
		padding: 0.5em;
		font-size: 1em;
	}
}
@media (min-width: 768px) and (max-width: 900px) {
	.container-about{
		width:100vw;
		height:100vh;
	}
	.div-about{
		min-width: 90vw;
		min-height:70vh;
	}
	.h3-about{
		font-size: 2.5em;
		padding: 1em;
		margin: 1em;
	}
	.p-about-p-small{
		padding: 0.5em;
		font-size: 1.5em;
	}
}
@media (min-width: 900px) and (max-width: 1500px) {
	.container-about{
		width:100vw;
		height:100vh;
	}
	.div-about{
		min-width: 90vw;
		min-height:70vh;
	}
	.h3-about{
		font-size: 2.5em;
		padding: 1em;
		margin: 1em;
	}
	.p-about-p-small{
		padding: 0.5em;
		font-size: 1.5em;
	}	
}

/* Desktop grande */
@media (min-width: 1501px) {
  .container-about{
		width:100vw;
		height:100vh;
	}     
}