*{
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  @import url('https://fonts.googleapis.com/css?family=Roboto:300i,400i,500i&display=swap');
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #545454;
}
h1{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 4px;
  color: rgba(13, 13, 146, 0.568);
}
strong{
  font-weight: 300;
  color: #180755;
}
img{
  width: 150px;
  margin-bottom: 2%;
}
p, a{
  text-decoration: none;
  margin-top: 10px;
  color: rgb(11, 174, 250);
  padding: 10px;
}
span{
  color: rgb(208, 212, 221);
  @import url('https://fonts.googleapis.com/css?family=Mali:300i,400&display=swap');
  font-family: 'Mali', cursive;
  font-size: 1.2em;
  letter-spacing: 2px;
}
p > a > img {
  width: 50px;
  margin: 10px;
  cursor: pointer;
}
.email{
  color: rgba(13, 13, 146, 0.568);
  font-weight: 400;
}
a:hover{
  letter-spacing: 1px;
}