body{
	background-image: url(./Hero/back2.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;

}
.projects-container{
	width: 80vw;
	height: 70vh;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
.section-images{
	width: 20em;
	height: 20em;
	margin: 1em auto;
	display: flex;
	opacity:0.8;
}
.section-images:hover{
	opacity: 1;
}