*{
  margin: 0;
  padding: 0;
}
.container-wrapper{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}
.hero-top{
  flex: column wrap;
  width: 100%;
  height: 15vh;
}
h2{
  font-size: 1.5em;
}
h2:hover{
  border: 2px solid blue;
  border-radius: 30%;
  color: white;
}
.hero-top-column-left, .hero-top-column-right{ 
  width: 50%;
  height:100%;
  display: inline-flex;
  justify-content: center;
  align-items:center;
  text-transform: uppercase;
  
}
nav ul li{
  display: inline;
  margin: 8%;
  font-size: 1em;
  color: #966;
  list-style: none;
  
}
nav ul li a{
  color:blue;
  letter-spacing: 4px;
  text-decoration: none;
  
}
nav ul li a:hover{
  color: #986;
}
.hero-content{
  width:100%;
  height: 85%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.hero-content-image{
  display: inline-flex;
  align-items: center;
  width: 50%;
  height: 50%;
}
.hero-image{
  margin: 2em;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.hero-content-bottom{
  width: 50%;
  height: 50%;
  align-items:center;
  display: flex;
  flex-flow: row wrap;
}
.hero-content-bottom-top{
  width: 100%;
  height: 70%;
}
.hero-content-bottom-bottom{
  width: 100%;
  height: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.images-socials{
  width: 2em;
  height: 2em;
  margin: 1em;
}
hr{
  width: 70%;
  color: antiquewhite;
  align-self: center;
}
h1{
  font-size: 2.5em;
  letter-spacing: 2px;
  opacity: 0.9;
  color: #923;
  margin: 1em 0 0.5em 0.5em;

}
.p-hero{
  padding: 0.5em; 
  align-self: center;
  font-size: 1.5em;
  color: navy;
  letter-spacing: 2px;
}
.projects-container{
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.section-images{
  width: 80%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity:0.8;
  margin: 2em auto;
}
.section-images:hover{
  opacity: 1;
  width: 100%;
  height:55%;
}
.div-images-window{
  width: 22%;
  height: 80%;
  margin:0.5em;
  border:1px solid #999;
  border-radius: 2%;
}
.hr-div-images{
  width: 100%;
  padding: 0px;
}
.p-div-images{
  font-size: 2em;
  padding: 1em;
}
.p-div-images-1, .p-div-images-2, .p-div-images-3, .p-div-images-4{
  color:black;
  @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
  font-family: 'Open Sans Condensed', sans-serif;
}
.div-about{
  width: 80vw;
  height:50vh;
  margin: 0 auto; 
}
.h3-about{
  font-size: 2.5em;
  margin: 2em;
  text-transform: uppercase;
}
.p-about-p{
  color: saddlebrown;
  margin: 2em;
  padding: 2em;
  font-size: 2em;
  letter-spacing: 1px;
  @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
  font-family: 'IBM Plex Mono', monospace;
}